<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

	<appender name="STDOUT_DHASH" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [Dhash] [%C{1}] %m%n" />
		</layout>
	</appender>

	<appender name="STDOUT_DHT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [DHT-UQ_GUI] [%C{1}] %m%n" />
		</layout>
	</appender>

	<appender name="CH3_DHASH" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="c:/log.log" />
		<param name="MaxBackupIndex" value="3" />
		<param name="MaxFileSize" value="1KB" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [Dhash] [%C{1}] %m%n" />
		</layout>
	</appender>

	<appender name="STDOUT_CHORD" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [Chord] [%C{1}] %m%n" />
		</layout>
	</appender>

	<appender name="CH3_CHORD" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="c:/log.log" />
		<param name="MaxBackupIndex" value="3" />
		<param name="MaxFileSize" value="1KB" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [Chord] [%C{1}] %m%n" />
		</layout>
	</appender>

	<appender name="STDOUT_COMMUNICATION" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [Communication] [%C{1}] %m%n" />
		</layout>
	</appender>

	<appender name="CH3_COMMUNICATION" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="c:/log.log" />
		<param name="MaxBackupIndex" value="3" />
		<param name="MaxFileSize" value="1KB" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [Communication] [%C] %m%n" />
		</layout>
	</appender>

	<log name="co.edu.uniquindio.chord">
		<level value="INFO" />

		<!--
			<level value="FINE" class="co.edu.uniquindio.utils.log.FineLevel"
			/>
		-->

		<appender-ref ref="STDOUT_CHORD" />
		<!--		<appender-ref ref="CH3_CHORD" />-->
	</log>
	<log name="co.edu.uniquindio.dht">
		<level value="INFO" />

		<!--
			<level value="FINE" class="co.edu.uniquindio.utils.log.FineLevel"
			/>
		-->

		<appender-ref ref="STDOUT_DHT" />
	</log>

	<log name="co.edu.uniquindio.dhash">
		<level value="INFO" />
		<!--
			<level value="FINE"
			class="co.edu.uniquindio.utils.log.FineLevel"/>
		-->
		<!--
			<level value="FINEST"
			class="co.edu.uniquindio.utils.log.FinestLevel"/>
		-->
		<appender-ref ref="STDOUT_DHASH" />
		<!--		<appender-ref ref="CH3_DHASH" />-->
	</log>

	<log name="co.edu.uniquindio.utils">
		<level value="INFO" />
		<appender-ref ref="STDOUT_COMMUNICATION" />
		<!--		<appender-ref ref="CH3_UTILS" />-->
	</log>

	<root>
		<level value="debug" />
	</root>

</log4j:configuration>